body {
    background-color:lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
}

#root {
    width: 100%;
    background-color:lightsteelblue;
}

span {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.productContainer {
    margin: 20px;
    padding: 10px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

img {
    width: 400px;
    height: 500px;
    object-fit:fill;
}

p {
    margin: 5px;
}

.description {
    font-size: 14px;
    font-weight:100;
    color: gray;
}

.productId {
    color:lightgrey;
    font-size: 14px;
}

.productButton {
    padding: 5px;
    margin: 10px;
    background-color:white;
    border-radius: 8px;
    border: 1px solid black;
}

.productButton :hover {
    background-color: gainsboro;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.sku {
    display: none;
}

.title {
    font-size: 24px;
}