body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

div {
    margin: 40px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

img {
    width: 400px;
    height: 500px;
    object-fit:fill;
}

p {
    margin: 10px;
}

.description {
    font-size: 20px;
    font-weight:100;
    color: gray;
}

.productId {
    color:lightgrey;
    font-size: 14px;
}

.productButton {
    padding: 5px;
    margin: 10px 0 50px 0;
    background-color:white;
    border-radius: 8px;
    border: 1px solid black;
}

.productButton :hover {
    background-color: lightgray;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.sku {
    display: none;
}

.title {
    font-size: 30px;
}